<mat-selection-list role="list" fxLayout="row" [multiple]="false">
  <mat-list-option role="listoption" *ngFor="let item of orders | async" [value]="item" (click)="sort(item)">
  {{item}}
</mat-list-option>
</mat-selection-list>

<mat-card>
  <mat-card-title>Choose your category</mat-card-title>
  <mat-card-content><mat-selection-list role="list" fxLayout="row" [multiple]="false">
  <mat-list-option role="listoption" *ngFor="let item of categories$ | async" [value]="item" (click)="selectCategory(item)">
  {{item}}
</mat-list-option>
</mat-selection-list></mat-card-content>


</mat-card>
<mat-card>
  <mat-card-title>Clothes</mat-card-title>
  <mat-card-content><mat-list role="list"><mat-list-item role="listitem" *ngFor="let item of products$ | async">
    <img [src]="item.image" width="50px" height="50px" alt="image">
    {{item.title}} <br>{{item.price}} <button  mat-raised-button color="primary" (click)="remove(item.id)">Remove</button>

  </mat-list-item></mat-list></mat-card-content>

</mat-card>
