<mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile>
    <mat-list role="list"><mat-list-item role="listitem" *ngFor="let item of list$ | async">{{item.id}} {{item.name}}
      <button mat-button color="primary" (click)="selectEmployees(item.id)">Show details</button>
    </mat-list-item></mat-list></mat-grid-tile>

  <mat-grid-tile><ng-container *ngIf="details$ | async as item"> <b>Name:</b> {{ item.name }} <b>Age: </b> {{item.age}},  <b>Salary: </b> {{item.salary}}$,

  </ng-container></mat-grid-tile>
</mat-grid-list>

